body {
    background-color: greenyellow;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: square;
}
div {
    width: 80%;
    margin: 100px;
}
.image {
    display: flex;
}

a {
    text-decoration: none;
}